---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Error!">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl text-center my-3">
      This page doesn't exist!
    </h1>
    <img
      src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7898.jpg"
      alt="404"
    />
  </div>
</Layout>
