---
import Layout from "../layouts/Layout.astro";
import { Search } from "../components/react/Search";
---

<Layout title="Welcome to Astro.">
  <header>
    <h1>Pokémon Searcher Updated</h1>
    <h2>Search for your favorite pokémon!</h2>
    <Search client:load />
  </header>
</Layout>

<style></style>
